body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: #2f5d39;
}

footer {
    background-color: #2f5d39;
    color: white;
}

.card {
    border: none;
}

.mytooltip {    
    visibility: hidden;        
    position: relative;
    background-color: #2f5d39;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1000;
    transition: visibility 0.2s ease-in-out;
}

input:focus + .mytooltip, 
input:hover + .mytooltip {
    visibility: visible;
}

.error {
	color: #D92525;
}

span.error {
    display: block; 
    font-size: 14px; 
    margin-top: 2px; 
    text-align: left;
}